In [1]:
-- gộp thông tin học sinh và thông tin phụ huynh học sinh
SELECT s.Student_ID,s.First_Middle_Name,s.Last_Name,d.Father_name,d.Mother_name,d.Parents_phonenumbers
FROM Student as s
JOIN Student_Details as d
ON s.Student_ID = d.Student_ID

Student_ID,First_Middle_Name,Last_Name,Father_name,Mother_name,Parents_phonenumbers
1,Nguyen Thanh,Minh,Nguyen,Thanh,123
2,Nguyen Thanh,Huy,Nguyen,Huy,456
3,Nguyen Thanh,Nam,Ho,An,789

In [16]:
-- gộp thông tin học sinh và thông tin trả học phí
SELECT s.Student_ID,s.First_Middle_Name,s.Last_Name,d.Name_Payables,d.Payment_Date_and_time
FROM Student as s
JOIN Student_Payments as d
ON s.Student_ID = d.Student_ID

Student_ID,First_Middle_Name,Last_Name,Name_Payables,Payment_Date_and_time
1,Nguyen Thanh,Minh,Clothes,2022-04-07 07:30:00.000
2,Nguyen Thanh,Huy,Course Fee,2021-11-23 08:39:00.000
3,Nguyen Thanh,Nam,Parking Fee,2021-02-03 09:23:00.000

In [13]:
-- gộp thông tin học sinh và điểm thi lẫn điểm ưu tiên
SELECT s.Student_ID,s.First_Middle_Name,s.Last_Name,d.Entrance_Exam_Score,d.Priority_Point
FROM Student as s
JOIN Student_Requirements as d
ON s.Student_ID = d.Student_ID

Student_ID,First_Middle_Name,Last_Name,Entrance_Exam_Score,Priority_Point
1,Nguyen Thanh,Minh,90,NULL
2,Nguyen Thanh,Huy,85,10
3,Nguyen Thanh,Nam,95,5

In [19]:
-- thêm giá trị vào bảng
insert into Student(Student_ID,First_Middle_Name,Last_Name,Age,Gender,Address,Date_Of_Birth,Student_Phone_Numbers)
VALUES(5,'Nguyen Van','B',22,'Male','Da Nang','03-12-2000',12321321)

In [20]:
select* from Student

Student_ID,First_Middle_Name,Last_Name,Age,Gender,Address,Date_Of_Birth,Student_Phone_Numbers
1,Nguyen Thanh,Minh,20,Male,HCM,2002-12-03,12345678
2,Nguyen Thanh,Huy,21,Male,HUE,2002-05-22,123456789
3,Nguyen Thanh,Nam,22,Male,HUE,2002-11-23,12345678910
4,Nguyen Van,A,23,Femeal,HCM,2001-01-01,2132121213
5,Nguyen Van,B,22,Male,Da Nang,2000-03-12,12321321