In [1]:
select * from Student

Student_ID,First_Middle_Name,Last_Name,Age,Gender,Address,Date_Of_Birth,Student_Phone_Numbers
1,Nguyen Thanh,Minh,20,Male,HCM,2002-12-03,12345678
2,Nguyen Thanh,Huy,21,Male,HUE,2002-05-22,123456789
3,Nguyen Thanh,Nam,22,Male,HUE,2002-11-23,12345678910
4,Nguyen Van,A,23,Femeal,HCM,2001-01-01,2132121213

In [22]:
SELECT s.Student_ID,s.First_Middle_Name,s.Last_Name,d.Father_name,d.Mother_name,d.Parents_phonenumbers
FROM Student as s
JOIN Student_Details as d
ON s.Student_ID = d.Student_ID

: Msg 156, Level 15, State 1, Line 5
Incorrect syntax near the keyword 'into'.

In [18]:
select count(Student.Student_ID)
from Student
group by Student_ID

(No column name)
1
1
1
1